<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.companimal.report.model.dao.ReportMapper">

    <resultMap id="reportResultMap" type="com.companimal.report.model.dto.ReportDTO">
        <id property="REP_NO" column="repNo"/>
        <result property="REP_TITLE" column="repTitle"/>
        <result property="REP_DATE" column="repDate"/>
        <result property="REP_REASON" column="repReason"/>
        <result property="REP_RESULT" column="repResult"/>
        <result property="REP_PERSON" column="repPerson"/>
        <result property="REP_DEP" column="repDep"/>
    </resultMap>

    <insert id="registReport" parameterType="com.companimal.report.model.dto.ReportDTO">

    </insert>

    <delete id="delete" parameterType="_int">
        DELETE
          FROM tbl_tbl_report
         WHERE rep_no = #{ code }
    </delete>
</mapper>