<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.companimal.report.model.dao.ReportMapper">

    <resultMap id="reportResultMap" type="com.companimal.report.model.dto.ReportDTO">
        <id property="repNo" column="REP_NO"/>
        <result property="repTitle" column="REP_TITLE"/>
        <result property="repDate" column="REP_DATE"/>
        <result property="repReason" column="REP_REASON"/>
        <result property="repResult" column="REP_RESULT"/>
        <result property="repPerson" column="REP_PERSON"/>
        <result property="repDep" column="REP_DEP"/>
    </resultMap>

    <insert id="registReport" parameterType="com.companimal.report.model.dto.ReportDTO" >
        INSERT INTO tbl_report (
                                REP_NO
                                ,REP_TITLE
                                ,REP_DATE
                                ,REP_REASON
                                ,REP_RESULT
                                ,REP_PERSON
                                ,REP_DEP
                                )
        VALUES (
                #{ repNo }
                ,#{ repTitle }
                ,#{ repDate }
                ,#{ repReason }
                ,#{ repResult }
                ,#{ repPerson }
                ,#{ repDep }
                )
    </insert>

    <select id="selectReportList" resultMap="reportResultMap">

        SELECT
              REP_NO
            , REP_TITLE
            , REP_DATE
            , REP_REASON
            , REP_RESULT
            , REP_PERSON
            , REP_DEP
        FROM tbl_report
    </select>
</mapper>